<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- myCss.style %>
        <title>NFTapp</title>
</head>

<body>
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div id="loader" class="center"></div>
        <div class="textArea">
            <h2>Puoi accedere a questo sito solo durante gli Envisioning, perfavore torna quando sarà il momento.</h2>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="footerlanding">
            <p>Sisal Envisioning Days</p>
        </div>
    </div>
</body>

</html>